* {
    box-sizing: border-box;
  }
  body{
    background-color: #dcd9d9;
    margin: 0 ;
    padding: 0;
  }
  .body-div{
    text-align: center;
    align-items: center;
margin: 1rem;
  }

  .icon-size{
    background-color: rgb(209, 230, 250);
    border-radius: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    width: 20%;
      height: 4em;
  }
  .table-center{
    background-color:rgb(218 185 225 / 83%);
    margin-top:1em ;
    margin-bottom:1em ;
    margin-left: auto;
    margin-right: auto;
  }

  .header{
    padding: 0.4rem 0;
    background-color: rgb(44, 44, 90);
  }
  .headerdiv{
    display: inline-block;
  }
.header-nav__items a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(52, 241, 52);
}
.header-nav{
    
        display: inline-block;
        text-align: right;
        width: calc(100vw - 12rem);
    
}

.header-div__brand {
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgb(206, 84, 84);
    font-size: large;
    font-weight: bold;
  }
  .header-nav{
    
    display: inline-block;
    text-align: right;
    width: calc(100vw - 12rem);

}
  .header-nav__items{
    margin: 0;
    list-style-type: none;
  }
  .header-nav__item{
    
    display: inline-block;
  }
  .header-nav__item a{
    margin: 0 0.4rem;
    padding: 0.4rem 1rem;
  }
  .header-nav__item a:hover{
    
    background-color:rgb(206, 84, 84);;
    border-radius: 0.4rem;
    color: white;
    border-bottom: solid black 0.1rem;
  }
   /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 0.4rem;
}
.dropbtn:hover,


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; border-radius: 10px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
  .fee-head-elements{
    border: 1px solid black;
  }
  .fee-row-elements{
    padding: 1em;
    text-align: center;
    border: 1px solid black;
  }
 
  .hostel-detail a{
    text-decoration: none;
  }
  .list-facilities{
    list-style-type: none;
   
  }
  .list-facility{
    
   font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
  }
  .link-divs{
    border: 0.2em solid rgb(154, 154, 236);
    margin: 1em;
    background-color: rgb(44 44 90);
    border-radius: 2em;
  }
 .link-div{
  margin: 1em;
 }
  .link-div a{
    
    color: rgb(206, 84, 84);
  }
    .link-div a:hover{
      color: white;
    }
    .footer-p{
        color: white;
        background-color: rgb(44, 44, 90);
        text-align: center;
        vertical-align: middle;
        margin:0;
        padding:  1rem;
    }
  

 .hostel-detail_h1  {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin:0;
  
   font-size:3.5rem;
   color:rgba(4, 10, 56, 0.768);
  
    }


    .hostel-detail_paragraph{
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size:large;
      color:black;
      


    }

    .hostel-detail_h2{
      text-align: center;
      font-family: 'Qwitcher Grypen', cursive;
      
      color: rgb(131, 96, 15);
      margin-top: 0;
      font-size:1rem ;
    }
    .hostel-detail{
      margin: 3rem ;
      background-color: rgb(227, 224, 224);
      
    }
