* {
    box-sizing: border-box;
  }
  body{
    margin: 0 ;
    padding: 0;
  }
  .body-div{
margin-top: 1rem;
margin-bottom: 1rem;
  }
  .header{

    background-color: rgb(44, 44, 90);
  }
  .headerdiv{
    display: inline-block;
  }
.header-nav__items a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(52, 241, 52);
}
.header-nav{
    
        display: inline-block;
        text-align: right;
        width: calc(100vw - 12rem);
    
}

.header-div__brand {
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgb(206, 84, 84);
    font-size: large;
    font-weight: bold;
  }
  .header-nav{
    
    display: inline-block;
    text-align: right;
    width: calc(100vw - 12rem);

}
  .header-nav__items{
    list-style-type: none;
  }
  .header-nav__item{
    margin-right: 2rem;
    display: inline-block;
  }
  .fee-head-elements{
    border: 1px solid black;
  }
  .fee-row-elements{
    text-align: center;
    border: 1px solid black;
  }
 
  .hostel-detail a{
    text-decoration: none;
  }
  .list-facilities{
    list-style-type: none;
   
  }
  .list-facility{
    display: inline-block;
  }
  .link-div a{
    color: red;
  }
    .link-div a:hover{
      color: blue;
    }
    .footer-p{
        color: white;
        background-color: rgb(44, 44, 90);
        text-align: center;
        vertical-align: middle;
        margin:0;
        padding:  1rem;
    }

 .hostel-detail_h1  {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin:0;
  
   font-size:2.5rem;
   color:rgba(13, 25, 112, 0.768);
  
    }


    .hostel-detail_paragraph{
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size:large;
      color:black;
      


    }

    .hostel-detail_h2{
      text-align: center;
      font-family: 'Qwitcher Grypen', cursive;
      
      color: rgb(131, 96, 15);
      margin-top: 0;
      font-size:1rem ;
    }
    .hostel-detail{
      margin: 3rem ;
      background-color: rgb(227, 224, 224);
      
    }