* {
    box-sizing: border-box;
  }
  body{
    background-image: url(/assets/images/contactPage_background.png);
    background-color: rgba(0,0,0,0.9);
    margin-left: 280px;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
    margin: 0 ;
    padding: 0;
  }
  .body-div{
    padding: 0px 32px 0px 32px;
    border-right: 1px solid #f1f1f1;
    margin-left: 13.5%;
    margin-right: 0rem;
    padding-right: 0;
    text-align: center;
    align-items: center;
    margin-top: 0rem;

  }
 
  .slideshow-container{
    margin-top: 0rem;
    width: 99%;
  }

  .icon-size{
    background-color: white;
    border-radius: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    width: 20%;
      height: 4em;
  }
  /* .slideshow-container{
    position:absolute;
    z-index: 1;
  } */
  .table-center{
    background-color:rgb(218 185 225 / 83%);
    margin-top:1em ;
    margin-bottom:1em ;
    margin-left: auto;
    margin-right: auto;
  }



.FloatingText:hover{
  border-top: 0.2rem solid rgb(206, 84, 84) ;
  border-bottom: 0.2rem solid rgb(206, 84, 84) ;
  color: rgb(248, 198, 241);
  background-color: rgb(44, 44, 90);
}
  .fee-head-elements{
    border: 1px solid black;
  }
  .fee-row-elements{
    padding: 1em;
    text-align: center;
    border: 1px solid black;
  }
 
  .hostel-detail a{
    text-decoration: none;
  }
  .list-facilities{
    list-style-type: none;
   
  }
  .list-facility{
    
   font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
  }
  .link-divs{
    border: 0.2em solid rgb(154, 154, 236);

   padding: 2rem 0;
    background-color: rgb(44 44 90);
    border-radius: 2rem;
  }
 .link-div{
  margin: 1em;
 }
  .link-div a{
    
    color: rgb(206, 84, 84);
  }
    .link-div a:hover{
      color: white;
    }
    .footer-p{
      
        color: white;
        background-color: rgb(44, 44, 90);
        text-align: center;
        vertical-align: middle;
        margin:0;
        margin-left: 15%;
        padding:  1rem;
    }
  

 .hostel-detail_h1
 My-link  {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin:0;
  
   font-size:2.7rem;
   color:rgba(4, 10, 56, 0.768);
  
    }


    .hostel-detail_paragraph{
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size:1.1rem;
      color:black;
      


    }

    .hostel-detail_h2,
    .My-link,
    .Mess-heading{
      
      text-align: center;
      font-family: 'Qwitcher Grypen', cursive;
      
      color: rgb(131, 96, 15);
      margin-top: 0;
      font-size:1rem ;
    }
    .hostel-detail{
      margin: 3rem ;
      background-color:rgba(255,255,255,0.8);
      
    }

.grid-container{
  display: grid;
  grid-template-columns: 7rem 1fr 1fr 1fr 1fr;
  grid-template-rows:  40px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  height: 430px;
  border: 1px solid green;
  background-color: green;

  margin: 0rem;
}
.grid-item{

  border: 0.06rem solid green;
  background-color: #ddd;
  height: 3.5rem;
  
  
  
}
.days{
  background-color: lightblue;
}
.days-description{

  padding-top: 1.1rem ;
  
  color: rgb(243, 209, 146);
  border: 2px solid black;
  background-color: rgb(70, 125, 70);
}
.timing{
  color: rgb(70, 125, 70);
  background-color: rgb(243, 209, 146);
}


.margindiv{
  height: 3rem;
}



   
    .side-nav-lists{
      list-style-type: none;
      margin: 0;
      margin-top: 2.4rem;
      padding: 0;
      width: 15%;
      background-color:rgb(248, 198, 241);
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    .side-nav-list{
      
      border-bottom: 1px solid gray;
    }
    .side-nav-list a {
      height: 3rem;
      font-size: larger;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .side-nav-list a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .side-nav-list a:hover:not(.active) {
      background-color: #555;
      color: white;
      font-size: 1.2rem;
      background-color: rgba(0,0,0,0.6);
      
      color: white;
    }
    .reach-us_heading{
      padding: 1rem;
      margin: 0;
      font-family: 'Mukta', sans-serif;
      background-color: rgb(206, 84, 84);
      color: whitesmoke;
    }
    .reach-us{
      padding: 1rem;
      
      
      text-align: left;
    }
    .reach-us_mediums{
      
     font-weight: bold;
      /* color: whitesmoke; */
      background-color: rgba(0,0,0,0.1);
    }
    .map{
      border: 2px solid black;
      background-color: green;
      width: 100%;
      margin: 0;
      padding: 0;
    }





  